.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 10px;
    background-image: 
        radial-gradient(at 42% 100%, hsl(136.71, 100%, 15%) 0, transparent 45%), 
        radial-gradient(at 82% 65%, hsl(240.00, 10%, 17%) 0, transparent 25%);
}

.header-logo {
    width: 50px;
}

.header-btn {
    /* display: none; */
    transition: 150ms ease-in-out;
}
.header-btn:hover {
    outline: none;
}
.header-btn:active {
    background-color: #fff;
}

.header-title {
    width: 12vw;
}

/* ---------- Media Query ---------- */

@media (max-width: 1440px) {
    .header {
        padding: 10px 20px;
    }
    .header-logo {
        width: 3.5vw;
    }
    .header-title {
        width: 15vw;
    }
    .header-btn {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 10px 20px;
    }
    .header-logo {
        width: 4.5vw;
    }
    .header-title {
        width: 20vw;
    }
    .header-btn {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }
    .header-logo {
        width: 6vw;
    }
    .header-title {
        width: 25vw;
    }
    .header-btn {
        font-size: 2vw;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 10px 20px;
    }
    .header-logo {
        width: 10vw;
    }
    .header-title {
        display: none;
    }
    .header-btn {
        font-size: 3vw;
    }
}
