.login-main-container {
    width: 100%;
    height: 92.5vh;
    overflow: hidden;
    background-color: #202020;
    background-image: 
        radial-gradient(at 46% 33%, hsl(136.71, 100%, 40%) 0, transparent 69%), 
        radial-gradient(at 82% 65%, hsl(240.00, 10%, 13%) 0, transparent 55%);
    display: flex;
    justify-content: center;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-inline: 40px;
}

.login-container-left {
    width: 50vw;
    padding-inline: 30px;
}

.login-container-right {
    border-radius: 10px;
    width: 50vw;
    padding-inline: 170px;
}

form {
    background-color: rgba(17, 25, 40, 0.79);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 50px; 
}

.login-input {
    padding: 13px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    backdrop-filter: blur(21px) saturate(160%) opacity(40%);
    -webkit-backdrop-filter: blur(21px) saturate(160%);
    background-color: rgba(17, 25, 40, 0.29);
    border: 1px solid rgba(255, 255, 255, 0.175);
}
.login-input:focus {
    border: 1px solid #00ff47;
}

.login-btn {
    width: 50%;
    margin-top: 20px;
}
.login-btn:active {
    background-color: white;
}

.login-title {
    display: block;
    width: 120px;
}


/* ----- Media Query */

@media (screen) {
    
}

@media (max-width: 1440px) {
    .login-container {
        width: 100%;
        height: 100%;
        gap: 0px;
    }
    .login-container-right {
        padding-inline: 100px;
    }
    .login-btn {
        font-size: 1.2rem;
    }
    .login-p {
        font-size: 1rem;
    }
    .login-heading {
        font-size: 2.5rem;
        padding-bottom: 25px;
    }
    .login-input {
        padding: 11px 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .login-container {
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    .login-container-right {
        padding-inline: 10px;
    }
    .login-container-left {
        width: 60vw;
        padding-inline: 10px;
    }
    .login-btn {
        font-size: 1.1rem;
    }
    .login-p {
        font-size: 0.9rem;
    }
    .login-heading {
        font-size: 2.2rem;
        padding-bottom: 25px;
    }
    .login-input {
        padding: 11px 20px;
        margin-bottom: 18px;
    }
    form {
        padding: 40px;
    }
}

@media (max-width:768px) {
    form {
        padding: 30px;
    }
    .login-container {
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        gap: 0px;
    }
    .login-container-right {
        width: 50vw;
    }
    .login-container-left {
        width: 50vw;
        padding: 0px;
    }
    .login-img {
        width: 350px;
    }
    .login-p {
        font-size: 0.8rem;
    }
    .login-btn {
        font-size: 1rem;
        padding: 8px;
    }
    .login-heading {
        font-size: 2rem;
        padding-bottom: 25px;
        padding-top: 2px;
    }
    .login-input {
        padding: 10px 20px;
        margin-bottom: 15px;
    }
}

@media (max-width: 425px) {
    .login-container-left {
        display: none;
    }
    .login-container-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    form {
        width: 100%;
    }
    .login-btn {
        width: 80%;
        font-size: 1.2rem;
    }
    .login-p {
        font-size: 0.9rem;
    }
    .login-title {
        display: block;
        width: 130px;
    }
}
