.menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6vw;
  margin: 20px;
  display: none;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.menu-bar:hover {
  transform: scale(1.2);
}

.navbar-main-container {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #202020;
  background-image: radial-gradient(
      at 70% 33%,
      hsl(136.71, 100%, 30%) 0,
      transparent 59%
    ),
    radial-gradient(at 0% 55%, hsl(140, 51%, 16%) 0, transparent 55%);
  overflow: hidden;
  display: flex;
}

.navbar-container {
  width: 12vw;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manuOpen {
  width: 12vw;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logo {
  width: 50px;
}

.navbar-container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
  letter-spacing: 1.5px;
  margin-left: 5px;
  color: white;
}
.manuOpen h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
  letter-spacing: 1.5px;
  margin-left: 5px;
  color: white;
}

.upper-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 11vw;
  transition: 150ms ease-in;
}
.upper-container:hover {
  transform: scale(1.05);
}

.navbar-title {
  width: 220px;
}

.lower-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navLink-container-links {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 150ms ease-in;
}
.navLink-container-links:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.navLink-container {
  margin: 50px 0px;
}

.navLink-container-links h1 {
  font-size: 1.6rem;
  transition: 200ms ease-in;
}
.navLink-container-links h1:hover {
  color: #00ff47;
}

.links-img {
  width: 1.6vw;
}

main {
  width: 100%;
  height: 100%;
}

.logoutBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 5px;
  font: normal 600 0.9rem/1.2px "Poppins", sans-serif;
  background-color: rgba(255, 0, 0, 0.81);
  color: white;
  margin-bottom: 1.2rem;
  transition: 200ms ease-in-out;
}
.logoutBtn img {
  width: 1.6vw;
}
.logoutBtn p {
  font-size: 1rem;
  margin-bottom: 0px;
}
.logoutBtn:hover {
  box-shadow: 1px 1px 10px 2px rgba(255, 0, 0, 0.607);
}

@media (max-width: 1920px) {
  .upper-container {
    width: 100%;
    gap: 5px;
  }
  .links-img {
    width: 1.4vw;
  }
  .navLink-container-links h1 {
    font-size: 1.1vw;
  }

  .logoutBtn p {
    font-size: 1rem;
  }
  .logoutBtn img {
    width: 1.6vw;
  }
}

@media (max-width: 1440px) {
  .links-img {
    width: 1.6vw;
  }
  .navbar-container {
    width: 14vw;
  }
  .navLink-container-links {
    margin-left: 10px;
  }
  .navLink-container-links h1 {
    font-size: 1.1rem;
  }
  .logoutBtn img {
    width: 1.4vw;
  }
  .logoutBtn p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .links-img {
    width: 2.1vw;
  }
  .navbar-container {
    width: 17vw;
  }
  .navLink-container-links {
    margin-bottom: 1.4rem;
    gap: 2px;
  }
  .navLink-container-links h1 {
    font-size: 1.5vw;
  }
  .logoutBtn {
    padding: 10px;
    font-size: 0.8rem;
    gap: 5px;
  }
  .logoutBtn img {
    width: 1.8vw;
  }
  .logoutBtn p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    width: 22vw;
  }
  .navbar-title {
    display: none;
  }
  .upper-container {
    justify-content: center;
  }
  .lower-container {
    align-items: center;
  }
  .navbar-logo {
    width: 6vw;
  }
  .links-img {
    width: 2.5vw;
  }
  .navLink-container {
    margin: 30px 0px;
  }
  .navLink-container-links h1 {
    font-size: 0.85rem;
    margin: 0px;
  }
  .navLink-container-links {
    gap: 8px;
    margin-left: 0px;
    margin-bottom: 1rem;
  }
  .logoutBtn {
    padding: 5px;
  }
  .logoutBtn p {
    display: none;
  }
  .logoutBtn {
    width: 5vw;
  }
}

@media (max-width: 425px) {
  .menu-bar {
    display: block;
  }
  .navbar-title {
    display: block;
  }
  .upper-container {
    margin: auto;
    width: 40vw;
  }
  .navbar-container {
    position: absolute;
    left: -100%;
    right: 0;
    transition: 200ms ease-in-out;
  }
  .menuOpen {
    width: 50vw;
    height: 100%;
    background-color: #202020;
    background-image: radial-gradient(
        at 70% 33%,
        hsl(136.71, 100%, 30%) 0,
        transparent 59%
      ),
      radial-gradient(at 0% 55%, hsl(140, 51%, 16%) 0, transparent 55%);
    padding: 30px 0 50px;
    position: absolute;
    left: 0%;
    z-index: 10;
    transition: 250ms ease-in-out;
  }
  .menuOpen h1 {
    letter-spacing: 1px;
    margin-left: 5px;
    font-weight: 600;
    color: white;
  }
  .navbar-logo {
    width: 9vw;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .links-img {
    width: 5vw;
    margin-bottom: 5px;
  }
  .navLink-container-links h1 {
    font-size: 1.2rem;
  }
 .logoutBtn {
    padding: 10px 0px;
    width: 35.5vw;
    overflow: hidden;
  }
  .logoutBtn p {
    display: block;
    font-size: 0.9rem;
  }
  .logoutBtn img {
    width: 5.5vw;
  }

}
