
/* .no-post-msg {
    text-shadow: 1px 1px 20px #00cd3a; // set this
} */

.editPostOption-container {
    display: flex;
    position: absolute;
    top: 35px;
    right: -2px;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 200ms ease-in-out;
}

.editPostOption-container::before {
    display: none;
}

.showEditOption {
    list-style: none;
    padding: 4px 15px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(17, 25, 40);
    border: 1px solid rgba(255, 255, 255, 0.175);
}
.showEditOption li {
    transition: 150ms ease-in-out;
}

.showEditOption li:hover:last-child {
    color: rgb(255, 0, 0);
}

.showEditOption::before {
    content: "";
    position: absolute;
    top: -5.5px;
    right: 15px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: rgba(17, 25, 40);
    border-left: 1px solid rgba(255, 255, 255, 0.175);
    border-top: 1px solid rgba(255, 255, 255, 0.175);
    transition: 200ms ease-in-out;
}

.editPostBtn {
    color: rgb(33, 122, 255);
}
.editPostBtn:hover {
    text-decoration: none;
}

/* ---------- Media Query ---------- */

@media (max-width: 1024px) {
    .editPostOption-container {
        top: 20px;
        right: -12px;
    }
}

@media (max-width: 768px) {
    .editPostOption-container {
        top: 22px;
        right: -3px;
    }
}

@media (max-width: 425px) {
    .postOption-icon {
        width: 18px;
        margin-right: 10px;
    }
}

