@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");

.checkbox:checked + label:before {
  transform: translateX(34px) rotate(460deg);
}

.card-3d-wrap {
  transform-style: preserve-3d;
  perspective: 800px;
}
.card-3d-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.signup-card,
.login-card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.login-card {
  transform: rotateY(0deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.card-3d-wrapper .login-card {
  transform: rotateY(180deg);
}

.center-wrap {
  transform: translate3d(0, -50%, 35px) perspective(100px);
}

input[type="password"]::-ms-reveal {
  color: white; 
  filter: invert(100%);
}

/* .error-msg {
  text-shadow: 1px 1px 20px #00cd3a; // fix this problem
} */

/* .server-error-msg {
  text-shadow: 1px 1px 20px #00cd3a; // fix this problem
} */


